@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=IBM+Plex+Serif&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-size: large;
    background-color: black;
    min-height: 100vh;
    color: whitesmoke;
}

h1 {
    font-family: 'Eczar', serif;
    color: #ad5ec9;
}

h2, h3, h4 {
    letter-spacing: 0.2rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px #462D5A;
    margin-left: 1.5rem;
}

h1:hover {
    text-shadow: 4px 4px 8px rgba(155,155,155,0.8);
}

.cursive {
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px 2px #462D5A;
}

/* Styling for the header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 1rem 1rem 1rem;
}

#logo a {
    text-decoration: none;
}

#logo {
    display: flex;
    font-size: x-large;
    padding-top: 0.5rem;
    margin-left: 1rem;
}

#menu {
    display: flex;
    font-size: x-large;
    text-align: right;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 1rem;
    padding-top: 0.5rem;
    margin-left: 1rem;
    list-style: none;
}

#menu li {
    flex-grow: 0;
    flex-shrink: 1;
}

#menu, #logo {
    line-height: 20px;
}

#menu a {
    text-decoration: none;
    color: #9897b5;
}

#menu a:hover {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(173,94,201,0.8);
}

.active {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 0.5rem;
    color: whitesmoke;
}


/* hero image */
#hero {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
/* animation zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: backwards;
}

/* creates the level of zoom for the hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}



#disclaimer {
    background-color: #462D5A;
    color: #d3d3d3;
    font-size: medium;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#intro section {
    width: 100%;
}

#home-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#home-flexbox div {
    padding: 1rem;
    margin: 1rem;
    flex-grow: 1;
    width: 45%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 35px;
}

#home-flexbox-text {
    background-color: #7240bf;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#home-flexbox-text img {
    float: right;
    width: 40%;
    text-align: right;
    border-radius: 50%;
    border: 5px solid #462D5A;
}

#home-flexbox-quick-link {
    background-color: black;
}

.quick-links {
    list-style-type: none;
}

.quick-links i {
    padding: 1rem;
}


#tips-box {
    padding: 1rem;
    margin: 1rem;
    background-color: #7240bf;
    border-radius: 35px;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

/* accordion https://alvarotrigo.com/blog/css-accordion/ */

#tips-box ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
#tips-box ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
  }
#tips-box ul li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
#tips-box ul li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
#tips-box ul li:nth-of-type(3) {
    animation-delay: 1s;
  }
#tips-box ul li:last-of-type {
    padding-bottom: 0;
  }
#tips-box ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
#tips-box ul li i:before, #tips-box ul li i:after {
    content: "";
    position: absolute;
    background-color: #462D5A;
    width: 3px;
    height: 9px;
  }
#tips-box ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
#tips-box ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
#tips-box ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
#tips-box ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
#tips-box ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
#tips-box ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
@keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

/* Gallery */

#flexbox-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center space-evenly;
    flex-direction: row;
    align-items: flex-start;
}
#flexbox-photos span {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    min-width: 300px;
    border: 3px solid #462D5A;
    border-radius: 12px;
    padding: none;
    margin: 1rem;
    flex-grow: 1;
    flex-basis: 1;
}

#flexbox-photos span > img {
    max-width: 100%;
    border-radius: 8px;
    padding: none;
    margin: none;
}

.overlay {
    position: absolute; 
    background: rgba(57, 57, 57, 0.5);
}

#flexbox-photos span:hover {
    box-shadow: 4px 4px 10px rgb(248, 111, 218);
}

/* Contact us page */

#forms-flexbox {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    width: 100%;
}

#forms {
    display: flex;
    width: 45%;
    flex-grow: 1;
}

#forms2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    flex-grow: 1;
}

#forms, #forms2 {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 20px;
    width: 40%;
    min-width: 300px;
}

#forms2 div {
    width: 100%;
}

#goodbye-message {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(to top right, #462D5A, black);
    margin: 1rem 0;
    padding: 3.2rem 0;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
}

#contact-us {
    flex-grow: 1;
    background-color: #7240bf;
    border-radius: 20px;
    padding: 1rem;
}

#subscribe {
    flex-grow: 1;
    background-color: #ad5ec9;
    border-radius: 20px;
    padding: 1rem;
}

legend {
    font-size: larger;
    font-weight: bold;
}

fieldset {
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.input-styles-1 {
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 40%;
}

.input-styles-2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: medium;
    color: black;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 60%;
}

.submit {
    background-color: whitesmoke;
    color: #462D5A;
    font-size: larger;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    border: 2px solid #462D5A;
    border-radius: 20px;
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    padding: 1rem;
}

.input-styles-2:hover {
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
}

.input-styles-2:focus-visible {
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
}

.submit:hover {
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
    font-size: x-large;
}

.submit:active {
    background-color: #462D5A;
    color: whitesmoke;
}


/* Confirmation boxes for subscription and enquiry pages*/

.confirmation {
    width: 80%;
    border: 2px solid #7240bf;
    border-radius: 20px;
    background-color: #7240bf;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    margin: 3.5rem;
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
}



/* https://blog.logrocket.com/how-to-style-forms-with-css-a-beginners-guide/ */



/* BIG FOOTER ISSUE because of inheritance */

footer {
    width: 100%;
    height: 5%;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: black;
    margin-top: 1rem;
}

.social-networks {
    border: 1px solid black;
    text-align: center;
}

.social-networks li {
    display: inline;
    font-size: xx-large;
    text-decoration: none;
    color: #9897b5;
    padding: 1rem;
    margin: 1rem;
}


.social-networks i:hover {
    color: whitesmoke;
    text-shadow: 4px 4px 6px rgba(173,94,201,0.8);
}

.social-networks i {
    font-size: larger;
    margin-bottom: 1px;
    color: #9897b5;
}