@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=IBM+Plex+Serif&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*---------- TEXT ----------*/
body {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-size: large;
    background-color: black;
    min-height: 100vh;
    color: whitesmoke;
}

h1 {
    font-family: 'Eczar', serif;
    color: #ad5ec9;
}


h2, h3, h4 {
    letter-spacing: 0.2rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px #462D5A;
    margin-left: 1rem;
}

h1:hover {
    text-shadow: 4px 4px 8px rgba(155,155,155,0.8);
}

.cursive {
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px 2px #462D5A;
}

.hyperlinks {
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px 1px black, 1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;   
}

.hyperlinks2 {
    color: #ad5ec9;
    text-decoration: none;   
}

.hyperlinks:hover {
    color: #ad5ec9;
}

.hyperlinks2:hover {
    color: #7240bf;
}

/* styling for the header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 1rem 1rem 1rem;
}

#logo a {
    text-decoration: none;
}

#logo {
    display: flex;
    font-size: x-large;
    padding-top: 0.5rem;
    margin-left: 1rem;
}

#menu {
    display: flex;
    font-size: x-large;
    text-align: right;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 1rem;
    padding-top: 0.5rem;
    margin-left: 1rem;
    list-style: none;
}

#menu li {
    flex-grow: 0;
    flex-shrink: 1;
}

#menu, #logo {
    line-height: 20px;
}

#menu a {
    text-decoration: none;
    color: #9897b5;
}

#menu a:hover {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(173,94,201,0.8);
}

.active {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 0.5rem;
    color: whitesmoke;
}


/* hero image */

#hero {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: backwards;
}

    
/* animation zoom effect on loading page adapted from Love Running project */

@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

/* disclaimer */

#disclaimer {
    background-color: #462D5A;
    color: #d3d3d3;
    font-size: large;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

/*---------- STYLING FOR HOME PAGE ----------*/

#intro section {
    width: 100%;
}

#home-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#home-flexbox div {
    padding: 1rem;
    margin: 1rem;
    border-radius: 35px;
}

#home-flexbox-text {
    width: 30%;
    flex-grow: 1;
    background-color: #7240bf;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#home-flexbox-text img {
    float: right;
    width: 35%;
    text-align: right;
    border-radius: 50%;
    border: 5px solid #462D5A;
}

#home-flexbox-weather, #home-flexbox-solar {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    flex-grow: 1;
    width: 22%;
    background-color: black
}

#home-flexbox-weather i, #home-flexbox-solar i {
    padding: 1rem;
} 


/*---------- STYLING FOR TIPS AND RESOURCES PAGE ----------*/ 

#tips-box {
    padding: 1rem;
    margin: 1rem;
    background-color: #462D5A;
    border-radius: 35px;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#tips-box h2 {
    text-shadow: 4px 4px 8px #ad5ec9;
}

#tips-box h3 {
    border: 3px solid #7240bf;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    text-shadow: 4px 4px 8px #ad5ec9;
}

#tips-box p {
    padding: 1rem;
}

#clickable-headings {
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

#clickable-headings a {
    padding: 0.5rem;
}

#clickable-headings a:hover {
    border: 1px groove whitesmoke;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#tips-box div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#weather-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#weather-images img {
    width: 40%;
    min-width: 350px;
    flex-grow: 1;
    margin: 2rem;
    border: 2px solid #462D5A;
    border-radius: 30px;
}

#camera ol {
    padding: 2rem;
}

.halogreen {
    color: black;
    text-shadow: 1px 1px 1px greenyellow, 1px 1px 1px greenyellow, 1px -1px 1px greenyellow, -1px -1px 1px greenyellow;
}

.halopink {
    color: black;
    text-shadow: 1px 1px 1px magenta, 1px 1px 1px magenta, 1px -1px 1px magenta, -1px -1px 1px magenta;
}

.halowine {
    color: black;
    text-shadow: 1px 1px 1px red, 1px 1px 1px red, 1px -1px 1px red, -1px -1px 1px red;
}

.halored {
    color: black;
    text-shadow: 1px 1px 1px crimson, 1px 1px 1px crimson, 1px -1px 1px crimson, -1px -1px 1px crimson;
}

.haloblue {
    color: black;
    text-shadow: 1px 1px 1px aqua, 1px 1px 1px aqua, 1px -1px 1px aqua, -1px -1px 1px aqua;
}

.halopurple {
    color: black;
    text-shadow: 1px 1px 1px fuchsia, 1px 1px 1px fuchsia, 1px -1px 1px fuchsia, -1px -1px 1px fuchsia;
}

/*---------- STYLING FOR GALLERY PAGE ----------*/

#gallery-intro p {
    padding: 0.5rem 1rem;
}

#flexbox-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center space-evenly;
    flex-direction: row;
    align-items: flex-start;
}

#flexbox-photos span {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    min-width: 300px;
    border: 3px solid #462D5A;
    border-radius: 12px;
    padding: none;
    margin: 1rem;
    flex-grow: 1;
    flex-basis: 1;
}

#flexbox-photos span > img {
    max-width: 100%;
    border-radius: 8px;
    padding: none;
    margin: none;
}

#flexbox-photos p {
    position: absolute;
    padding: 3px;
}

.overlay {
    background: rgba(57, 57, 57, 0.5);
    border-radius: 20px;
}
    


#flexbox-photos span:hover {
    box-shadow: 4px 4px 10px rgb(248, 111, 218);
}

/*---------- STYLING FOR CONTACT PAGE ----------*/
/* reference from https://blog.logrocket.com/how-to-style-forms-with-css-a-beginners-guide/ */

#forms-flexbox {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    width: 100%;
}

#forms {
    display: flex;
    width: 45%;
    flex-grow: 1;
}

#forms2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    flex-grow: 1;
}

#forms, #forms2 {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 20px;
    width: 40%;
    min-width: 300px;
}

#forms2 div {
    width: 100%;
}

#goodbye-message {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(to top right, #462D5A, black);
    margin: 1rem 0;
    padding: 3.2rem 0;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
}

#contact-us {
    flex-grow: 1;
    background-color: #7240bf;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#subscribe {
    flex-grow: 1;
    background-color: #9a23c6;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

legend {
    font-size: larger;
    font-weight: bold;
}

fieldset {
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.input-styles-1 {
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 40%;
}

.input-styles-2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: medium;
    color: black;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 60%;
}

.submit {
    background-color: whitesmoke;
    color: #462D5A;
    font-size: larger;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    border: 2px solid #462D5A;
    border-radius: 20px;
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    padding: 1rem;
}

.input-styles-2:hover {
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
}

.input-styles-2:focus-visible {
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
}

.submit:hover {
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
    font-size: x-large;
}

.submit:active {
    background-color: #462D5A;
    color: whitesmoke;
}


/*---------- STYLING FOR CONFIRMATION AND 404 PAGES ----------*/

.confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    border: 2px solid #7240bf;
    border-radius: 20px;
    background-color: #7240bf;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    margin: 3.5rem;
    box-shadow: 5px 5px 10px rgb(248, 111, 218);
}

.confirmation p h3 {
    flex: auto;
}

/*---------- STYLING FOR FOOTER ----------*/

footer {
    width: 100%;
    height: 5%;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: black;
    margin-top: 1rem;
}

footer p {
    position: static;
    padding: 1rem;
    float: right;
    font-size: small;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

.social-networks {
    border: 1px solid black;
    text-align: center;
}

.social-networks li {
    display: inline;
    font-size: xx-large;
    text-decoration: none;
    color: #9897b5;
    padding: 1rem;
    margin: 1rem;
}


.social-networks i:hover {
    color: whitesmoke;
    text-shadow: 4px 4px 6px rgba(173,94,201,0.8);
}

.social-networks i {
    font-size: larger;
    margin-bottom: 1px;
    color: #9897b5;
}

/*---------- MEDIA QUERIES ----------*/

/* Mobile */
@media (max-width: 900px) {

    #clickable-headings {
        font-size: x-large;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}

/* Tablets */
@media screen and (max-width: 799px) {
    .hidden-mobile {
        display: none;
    }
}

@media (max-width: 560px) {
    h1 {font-size: 35px;}
}

/* Laptops */
@media screen and (min-width: 800px) {
    .hidden-desktop {
        display: none;
    }
}



