@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=IBM+Plex+Serif&family=Satisfy&display=swap');

body {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    font-size: large;
    background-color: black;
    min-height: 100vh;
    color: whitesmoke;
}

h1 {
    font-family: 'Eczar', serif;
    color: #ad5ec9;
}

h2, h4 {
    letter-spacing: 2px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px #462D5A;
}

h1:hover {
    text-shadow: 4px 4px 8px rgba(155,155,155,0.8);
}

#cursive {
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px 2px #462D5A;
}

/* Styling for the header*/
#logo {
    float: left;
    font-size: 200%;
    margin-left: 15px;
}

#menu {
    font-size: 120%;
    padding-top: 25px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
    padding: 2px;
}

#menu, #logo {
    line-height: 20px;
}

#menu a {
    text-decoration: none;
    color: #9897b5;
}

#menu a:hover {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(173,94,201,0.8);
}

.active {
    border-bottom: 1px solid #FF9DE2;
}

/* hero image */
#hero {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#disclaimer {
    background-color: #462D5A;
    color: #d3d3d3;
    font-size: medium;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#intro section {
    width: 100%;
}

#home-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#home-flexbox span {
    padding: 1rem;
}

#home-flexbox-text {
    width: 47%;
    background-color: #7240bf;
    border-radius: 35px;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

#home-flexbox-text img {
    float: right;
    width: 40%;
    text-align: right;
    border-radius: 50%;
    border: 5px solid #462D5A;
}

#home-flexbox-quick-link {
    width: 47%;
    background-color: black;
    border-radius: 35px;
}

#home-flexbox-tips {
    width: 90%;
    background-color: #7240bf;
    border-radius: 35px;
    box-shadow: 4px 4px 10px rgba(173,94,201,0.8);
}

/* accordion https://alvarotrigo.com/blog/css-accordion/ */

#home-flexbox-tips ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
#home-flexbox-tips ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
  }
#home-flexbox-tips ul li:nth-of-type(1) {
    animation-delay: 0.5s;
  }
#home-flexbox-tips ul li:nth-of-type(2) {
    animation-delay: 0.75s;
  }
#home-flexbox-tips ul li:nth-of-type(3) {
    animation-delay: 1s;
  }
#home-flexbox-tips ul li:last-of-type {
    padding-bottom: 0;
  }
#home-flexbox-tips ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
#home-flexbox-tips ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 3px;
    height: 9px;
  }
#home-flexbox-tips ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
#home-flexbox-tips ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
#home-flexbox-tips ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
#home-flexbox-tips ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
#home-flexbox-tips ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
#home-flexbox-tips ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
@keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

/* Gallery */


/* Contact us page */

#forms-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#forms span {
    width: 47%;

}

#contact-us {
    background-color: white;
}

#subscribe {
    background-color: pink;
}

/* BIG FOOTER ISSUE because of inheritance */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}